* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
}

/* banner section  */

.global-msg {
  background: blue;
  line-height: 40px;
}

.global-content {
  display: flex;
  justify-content: space-between;
  color: white;
}

.socials {
  display: flex;
  gap: 10px;
}

.socials a {
  color: white;
}

/* nav-bar section  */
.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  background-color: rgb(166, 177, 88);
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li {
  margin-right: 10px;
}

.menu ul li:hover {
  cursor: pointer;
}

/* hero section  */
.hero {
  min-height: 90vh;
  background: url(image/abc.jpg) no-repeat center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  font-weight: boler;
  width: 500px;
  background: rgb(23, 211, 155, 0.2);
  padding: 10px 20px;
  border-radius: 13px;
  text-align: center;
}

/* post section  */
.posts {
  margin-top: 32px;
  display: flex;
}

.posts-content {
  width: 70%;
}

article {
  display: flex;
  margin-top: 32px;
  width: 70%;
  border-bottom: 5px solid black;
}

.art-img {
  width: 600px;
  margin-right: 20px;
}

.title {
  font-size: 22px;
  font-weight: bolder;
}

.side-links {
  width: 30%;
}

.country {
  background: rgb(108, 178, 232, 0.6);
  padding: 40px;
  border-radius: 5px;
}

.date {
  margin-top: 30px;
  background: rgb(108, 178, 232, 0.6);
  padding: 40px;
  border-radius: 5px;
}

/* card-section */
.card-section {
  margin-top: 38px;
  background: rgb(124, 193, 115, 0.8);
  padding: 20px 0;
}

.card-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card {
  width: 300px;
  min-height: 300px;
  background: white;
  border-radius: 5px;
  padding-bottom: 20px;
  box-shadow: -5px 5px 10px 5px rgb(249, 249, 2);
}

.card img {
  border-radius: 5px 5px 0 0;
}

.btn-card {
  background-color: rgb(156, 124, 27, 0.3);
  font-size: 20px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
}

.subscription {
  padding: 49px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* footer section  */
footer {
  background: black;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 32px;
  min-height:30px:
}
